

@font-face {
  font-family: 'Hasklig';
  font-style: normal;
  font-weight: normal;
  src: url("/Fonts/Hasklig-Regular.otf");
}
@font-face {
  font-family: 'Hasklig';
  font-style: normal;
  font-weight: bold;
  src: url("/Fonts/Hasklig-Semibold.otf");
}
.margin-bottom-fix {
  margin-bottom: 0.15em;
}



  
.cm-line {
  font-family: 'Hasklig' !important;
}

.cell-type-widget {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 0.75rem;
  /* line-height: 120%; */
  height:1.1rem;
  background-color: rgb(236, 236, 236);
  color: rgba(55, 53, 47, 0.5);
  opacity: 0.7;
}

:root {
    /*font-size: 0.9em;*/
    font-size: medium;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --editor-key-meta: #404740;
    --editor-key-keyword: #708;
    --editor-key-atom: #2332fd;
    --editor-key-literal: #164;
    --editor-key-string: #a11;
    --editor-key-escape: #e40;
    --editor-key-variable: #00f;
    --editor-local-variable: #30a;
    --editor-key-type: #085;
    --editor-key-class: #167;
    --editor-special-variable: #256;
    --editor-key-property: #00c;
    --editor-key-comment: #940;
    --editor-key-invalid: #f00;
    
    --editor-outline: #696969;
  
    --editor-bracket-1: #5461c8;
    --editor-bracket-2: #c724b1;
    --editor-bracket-3: #e4002b;
    --editor-bracket-4: #ff6900;
    --editor-bracket-5: #978d00;
    --editor-bracket-6: #019e79;
    --editor-bracket-7: #008dc1;
  
    --editor-bracket-1-a: #5461c8; 
    --editor-bracket-2-a: #c724b1;
    --editor-bracket-3-a: #e4002b;
    --editor-bracket-4-a: #ff6900;
    --editor-bracket-5-a: #978d00;
    --editor-bracket-6-a: #019e79;
    --editor-bracket-7-a: #008dc1;

    --system-main-padding-left: 16rem;
  }
  
/*.bg-d9 {
  background: #d9d9d9;
}*/
.bg-d9 {
  background: rgb(0 0 0 / 2%);
}


.bg-239 {
  background: rgb(239,239,239)
}

input::selection {
  color: #2fa1d6;
}

.selectable::selection {
  color: #2fa1d6;
}

.sm-controls {
    font-family: system-ui;
    caret-color: auto;
}

.cgi-ico {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  right: 0;
}

.text-gray-454 {
  --tw-text-opacity: 1;
  color: rgb(154 154 154 / var(--tw-text-opacity));
}

.bg-gray-454-half {
  --tw-text-opacity: 1;
  background: rgb(154 154 154 / 50%);
}

@media (min-width: 1024px) {
  .lg\:pl-70 {
    padding-left:16rem;
  }
}

@media (min-width: 768px) {
  .md\:-ml-70 {
    margin-left: calc(-1 * var(--system-main-padding-left)) !important;
  }

}

[sidebar="hidden"] .zen\:ml-0 {
  margin-left: 0px !important;
}

.-ml-70 {
  margin-left: -16rem;
}

@media (min-width: 768px) {
 .md\:pl-70 {
    padding-left: 16rem;
 }
 .md\:pl-sidesys {
    padding-left: var(--system-main-padding-left);
 }
}

@media (min-width: 768px) {
  .md\:w-70 {
    width:16rem;
  }
  .md\:w-sidesys {
    width:var(--system-main-padding-left);
  }  
  
}

@media (min-width: 1024px) {
  .lg\:w-70 {
    width:16rem;
  }
}

.sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

.sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

.sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

.sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}


.cm-scroller::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

.cm-scroller::-webkit-scrollbar-track {
  background-color: transparent;
}

.cg-fix {
  height: auto;
}

.z-inf {
  z-index:110;
}

.invisible-cell {
  display: none;
}

.h-titlebar {
  height: env(titlebar-area-height) !important;
  min-height: 32px;
}

[os="Windows"] .win\:h-titlebar {
  height: env(titlebar-area-height) !important;
  min-height: 32px;
}

[os="WindowsLegacy"] .owin\:h-titlebar {
  height: env(titlebar-area-height) !important;
  min-height: 32px;
}

[os="Windows"] .win\:sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

[os="Windows"] .win\:sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}

[os="WindowsLegacy"] .owin\:sc-b {
  scrollbar-width: 2px;
  scrollbar-color: rgba(15, 15, 15, 0.2) transparent;
}

.pt02 {
  padding-top: 0.2rem
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(10 10 10 / var(--tw-text-opacity));
}

[os="Windows"] .owin\:pt035 {
  padding-top: 0.30rem
}

[os="WindowsLegacy"] .win\:pt035 {
  padding-top: 0.30rem
}

[os="Windows"] .owin\:pt015 {
  padding-top: 0.15rem
}

[os="WindowsLegacy"] .win\:pt015 {
  padding-top: 0.15rem
}

[os="Windows"] .owin\:hidden {
  display: none;
}

[os="WindowsLegacy"] .win\:hidden {
  display: none;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.2);
  border-radius: 5px;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-track {
  background-color: transparent;
}

[os="WindowsLegacy"] .owin\:sc-b::-webkit-scrollbar-button {
  background-color: transparent;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
[os="Windows"] .dark\:win\:shadow-0 {
  box-shadow: none !important;
 }

 [os="Windows"] .dark\:win\:contrast-100 {
  --tw-contrast: contrast(1);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
 }
}

[os="Unix"] .linux\:h-titlebar {
  height: env(titlebar-area-height) !important;
  min-height: 38px;
}

[os="Windows"] .win\:pt-fix {
  padding-top: 0.2em
}

[os="WindowsLegacy"] .owin\:pt-fix {
  padding-top: 0.2em
}

[os="Unix"] .linux\:pt-fix {
  padding-top: 0.2em
}

[os="Windows"][sidebar="hidden"] .win-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="Unix"][sidebar="hidden"] .linux-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="OSX"][sidebar="hidden"] .osx-zen\:pl-20 {
  padding-left: 5rem;
}

[os="WindowsLegacy"][sidebar="hidden"] .owin-zen\:pl-2 {
  padding-left: 0.5rem;
}

[os="Browser"][sidebar="hidden"] .bro-zen\:pl-2 {
  padding-left: 0.5rem;
}

[transparency="true"] .bg-g-trans {
  background: transparent !important;
}

.ttint {
  transition: height 0.2s;
  background: #0056880f;
}

.h-fade-20 {
  mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  max-height: 6rem;
  overflow: hidden;
}

.cin > :nth-child(2)::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #e0e0e0;
    left: -0.75rem;
    border-radius: 0.15rem;
}

@media print {
  #frame {height: fit-content !important;} 
  main {box-shadow: none !important;}
  .atitlebar {display:none !important;} 
  .print\:hide {display: none !important;}
  .button-cmore {display:none !important;} 
  .button-chide {display:none !important;} 
  .button-cplay {display:none !important;} 
  .button-cadd {display:none !important;} 
}

[os="Windows"] .win\:autohide {
  display:none
}

[os="Unix"] .linux\:autohide {
  display:none
}

[os="Unix"] .osx\:border-b {
  border-bottom-width: 1px;
}

[os="WindowsLegacy"] .osx\:border-b {
  border-bottom-width: 1px;
}

[os="Unix"] .osx\:border-r {
  border-right-width: 1px;
}

[os="WindowsLegacy"] .osx\:border-r {
  border-right-width: 1px;
}

[os="Windows"] .win\:barfix {
  padding-top:0 !important;
  margin-top: 0.25rem !important;
}

[os="Unix"] .linux\:barfix {
  padding-top: 0.5rem !important;
}

[os="WindowsLegacy"] .owin\:barfix {
  padding-top: 0.25rem !important;
}

[os="Unix"] .owin\:border {
  border-width: 1px;
}

[os="Unix"] .owin\:border-slate-400 {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
}

@media (min-width: 768px) {
  [os="Windows"] .win\:autohide {
    display:inline-block
  }
  
  [os="Unix"] .linux\:autohide {
    display:inline-block
  }
}

.native {
  all: revert;
  appearance: auto;
}


.bg-sys {
  background: var(--system-accent-color);
}

.bg-sys-25 {
  background-color: var(--system-accent-color-25);
}

.hover\:bg-sys:hover {
  background: var(--system-accent-color);
}

.text-sys {
  color: var(--system-accent-color);
}

.fill-sys {
  fill: var(--system-accent-color);
}

.focus\:ring-sys:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: var(--system-accent-color);
}

.focus\:bg-sys-25:focus {
  background-color: var(--system-accent-color-25);
}
